<!-- template footer.html -->
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>Voyager is the SCOPE script collaboration site for BingAds.</p>
                <p>
                    Tips:
                    <ul class="faq">
                        <li>You're encouraged to both post and answer your own question when you figure something out.</li>
                        <li>To post a tutorial, please phrase it as a question. Post the question, then post your tutorial as the answer and accept it.</li>
                        <li>Voyager works best for non-transient questions. E.g. it's not a good place to be asking about an ongoing live site, but is a good place to ask about historical idiosyncracies.</li>
                        <li>I'll periodically send Kudos to the most helpful contributors, so management knows how much you're helping the rest of us!</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>The Team - Contacts</h4>
                <div class="hline-w"></div>
                <p>
                    PM: <a href="mailto:coffen@microsoft.com">coffen@microsoft.com</a><br>
                    Tech Lead: (pending confirmation of idea)<br>
                </p>
            </div>

        </div><!-- --/row ---->
    </div><!-- --/container ---->
</div>
<!-- end template footer.html -->
